*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: roboto, helvetica, arial, san-serif;
  color: #666;
  background: #e0e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.hide {
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px;
}

.accordion {
  background: #fff;
  width: 400px;
  border: 1px solid #e0e0e0;
}

.accordion-item {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
}
.accordion-item:last-child {
  border-bottom: none;
}

.accordion-label {
  padding: 20px 0 20px 30px;
  width: 100%;
  display: block;
  font-size: 18px;
}
.accordion-label:hover {
  cursor: pointer;
}
.accordion-label:before {
  content: '';
  position: absolute;
  height: 5px;
  width: 5px;
  top: 22px;
  left: 12px;
  display: inline-block;
  border-left: 5px solid #999;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
input[type=checkbox]:checked ~ .accordion-label:before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.accordion-child {
  margin: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  height: 0;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: center top;
          transform-origin: center top;
}
input[type=checkbox]:checked ~ .accordion-child {
  border: 1px solid #e0e0e0;
  margin: 0 -20px 15px -20px;
  background: #fff;
  -webkit-box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.16);
  padding: 30px;
  height: auto;
  opacity: 1;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
