body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align:center;
  background: #1e2629;
  overflow:hidden;
}
.svg-icons {
  width:100px;
  height:100px;
  display:inline-block;
  cursor:pointer;
  margin:20px 20px;
  position:relative;
}
svg {
  width:100%;
  height:100%;
  transition:.5s ease;
  transform-origin: 42px 50px;
}
svg path {
 fill:#ea5c35;
 transition:.5s ease;
}
.svg-icons:after {
  content:"I'm active";
  position:absolute;
  left:10px;
  bottom:10px;
  opacity:0;
  transition:.5s ease;
}
.svg-icons.active:after {
  content:"I'm active";
  opacity:1;
  position:absolute;
  left:10px;
  bottom:-20px;
  color:#fff;
}
.svg-icons.active svg {
  transform:rotateY(180deg);
}
.svg-icons.active svg path {
 fill:#fff;
}